* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: blanchedalmond;
}

.nav-links a {
  color: black;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
    background-color: orange;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

.socials{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    right: 2%;
    bottom: 80%;
    width: 2rem;
    height: 3rem;
    // display: flex;
    // justify-content: space-between;
    }

.self-portrait {
     padding-left: 40%;
     margin: 0;
     height: 25rem;
     outline: 0;
     display: flex;
     align-items: center;
    }  
    
    
.title {
    padding-left: 40%;
}    

main {
  height: 15rem;
  border: 0;
  outline: 0;
  font-size: 100%;



 .projects {
    padding-top: 25px;
    padding-bottom: 40px;
    margin-left: 30px;
 }

 .flex-container {
    display: flexbox;
    background-color: blanchedalmond;
 }

  .flex-container > div {
      background-color: white;
      margin: 10px;
      padding: 5px;
      font-size: 15px;
    }

  .skills {
    display:flexbox;
    background-color: blanchedalmond;
    height: 70px;
    // padding-bottom: 50px;
  }

  .skills > a {
    padding: 55px;
    font-size: 55px;
    color: black;
  }  
  .skill-name {
    display: flexbox;
    background-color: blanchedalmond;
  }  

  .skill-name > div {
      padding: 55px;
      font-size: 55px;
  }
  
  
  .work-invite {
    display: flexbox;
    background-color: white;
  }
  
  .work-invite > div {
      border-style: 25px solid blanchedalmond;
      margin-top: 100px;
      margin-bottom: 100px;
      margin-right: 10px;
      margin-left: 40%;
  }

  p.solid {
    border-style: solid;
    border-color: blanchedalmond;
  }

  .footer {
     min-height: 1vh;
     display: flexbox;
     align-items: flex-end;
     background-color: blanchedalmond;
    }


  } 